@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}